* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.content {
    background-color: rgb(0, 0, 0);
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    padding-bottom: 1000px;
}

.title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(180, 180, 180);
}*/