* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-projects {
    background-color: rgb(0, 0, 0);
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    padding-bottom: 1000px;
}

.title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(180, 180, 180);
}

.projects {
    margin-top: 100px;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.project-img-wrapper {
    width: 50%;
    text-align: start;
}

.project-img {
    width: 400px;
    padding: 2px;
    background-color: blue;
    border-radius: 20px;
}

.project-text {
    width: 50%;
    text-align: start;
}

.project-title {
    font-size: 40px;
    color: white;
}

.project-description {
    margin-top: 15px;
    color: rgb(180, 180, 180);
}