* {
    scroll-behavior: smooth;
}

.nav {
    background-color: rgb(17, 17, 17);
    padding: 20px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: flex-end;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
